/*
LAYOUT: One-Column 
DESCRIPTION: One-column fluid layout with sidebars stacked in two columns below content
*/

#primary, #secondary {
	float: left;
	overflow: hidden;
	padding: 10px 1.9%;
	width: 46%;
}
#primary {
	clear: both;
}
#footer {
	clear: left;
	width: 100%;
}