/*
LAYOUT: Three-Column (Left)
DESCRIPTION: Three-column fluid layout with two sidebars left of content
*/

#container {
	float: right;
	margin: 0 0 0 -400px;
	width: 100%;
}
#content {
	margin: 0 0 0 400px;
}
#primary, #secondary {
	float: left;
	overflow: hidden;
	width: 180px;
}
#primary {
	margin: 0 20px 0 0;
}
#footer {
	clear: both;
	width: 100%;
}