/* -------------------------------------------------------------- 
   
   Rebuild the default browser styles
   
   Based on work by Blueprint CSS   
   http://code.google.com/p/blueprintcss/
     
-------------------------------------------------------------- */   


body {
  background: #f7f6f5;	
}
body, input, textarea {
	color: #6f6f6f;    
	font: 13px "Droid Sans","Ubuntu","UbuntuBeta","Arial",sans-serif;
	line-height: 1.5;
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { 
	font-weight: normal;
	clear: both;
}
h1, h2, .entry-title a {
	font-size: 18px;
	color: #4d1f41;
}
h2 {
	color: #f15d22;
}
h3 {
	font-size: 16px;
	color: #404448;
	font-weight: bold;
}
hr {
	background-color: #999;
	border:0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements
-------------------------------------------------------------- */
a {
	color: #0091ab;
	text-decoration: none;
	-webkit-transition:color 0.15s ease-in;
	-moz-transition:color 0.15s ease-in;
	-o-transition:color 0.15s ease-in;
}
a:visited {
	color: #237989;
}
a:hover {
	color: #08a8c5;
}
p {
	margin-bottom: 1.5em;
}
ul {
	margin: 0 0 1.5em 2.5em;
}
ol {
	margin: 0 0 1.5em 2.5em;
}
ul {
	list-style:disc;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom:0;
}
dl	{
	margin:0 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.5em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
pre {
	font: 11px Monaco, monospace;
	line-height: 1.5;
	margin-bottom: 1.5em;
}
code {
	font: 11px Monaco, monospace;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
ins {
	text-decoration: none;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}


/*

Adapt the following for use in your Child Themes when using
different font-sizes and line-heights

body, input, textarea {
    font: --px Arial,sans-serif;
    line-height:--;
}
p, ul, ol, dd, pre {
    margin-bottom:--em;
}
pre, code {
	font:--px Monaco, monospace;
	line-height:--;
}

All other styles can be overridden--or ignored!--in Child Theme stylesheets

*/
